<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--
   <extension-point id="actions" name="Dashboard Actions" schema="schema/actions.exsd"/>
   -->
   <extension-point id="actions" name="Dashboard Actions" schema="schema/createAction.exsd"/>

   <extension point = "org.eclipse.ui.views">
      <view
         id = "net.sf.ictalive.operetta.dashboard.DashboardPart"
         name = "%view.name"
         icon = "icons/cview16/dashboard.gif"
         category = "org.eclipse.ui"
         class = "net.sf.ictalive.aliveclipse.dashboard.DashboardPart" />
   </extension>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:showView?before=showViewSeparator">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="ALIVE Dashboard"
                  icon = "icons/cview16/dashboard.gif"
         	      style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="net.sf.ictalive.operetta.dashboard.DashboardPart">
               </parameter>
            </command>
      </menuContribution>
   </extension>
   <extension
         point="net.sf.ictalive.aliveclipse.dashboard.actions">
      <client
            class="net.sf.ictalive.aliveclipse.dashboard.DashboardRunAction">
      </client>
   </extension>


</plugin>
