<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.ictalive.operetta.editor.modelTracker">
      <client
            class="net.sf.ictalive.operetta.modeltracker.ModelTracker">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.views">
 <!-- can't seem to be able to use a category and still also have the view show up in the General category 
      so we just use the org.eclipse.ui category 
      <category
            name="OperettAa"
            id="org.eclipse.operetta.ui.views">
      </category>
-->
      <view
            class="net.sf.ictalive.operetta.modeltracker.ModelTrackerView"
            icon="icons/cview16/modelTracker_view.gif"
            id="net.sf.ictalive.operetta.modeltracker.ModelTrackerViewId"
            name="OperettA Model Tracker"
            category = "org.eclipse.ui"
         	restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions"> 
      <perspectiveExtension 
            targetID="net.sf.ictalive.operetta.editor.perspectives.operetta"> 
            <viewShortcut id="net.sf.ictalive.operetta.modeltracker.ModelTrackerViewId"/>
      </perspectiveExtension> 
      <perspectiveExtension 
            targetID="ALIVEclipse.perspective"> 
            <viewShortcut id="net.sf.ictalive.operetta.modeltracker.ModelTrackerViewId"/>
      </perspectiveExtension> 
      <perspectiveExtension 
         	targetID="org.eclipse.ui.resourcePerspective"> 
            <viewShortcut id="net.sf.ictalive.operetta.modeltracker.ModelTrackerViewId"/> 
      </perspectiveExtension> 
   </extension> 
</plugin>
